*{
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  /*border: 1px solid black;*/
}
#header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  margin: auto auto;
  background-color: pink;
  height: 80px;
  max-height: 80px;
}
#header-img{
  height: inherit;
  max-height: 100%;
}

nav{
  width: 100%;
}
#links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
li{
  text-align: center;
}
.nav-link{
  font-size: 2rem;
  font-family: exo;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.nav-link:hover{
  background-color: white;
  text-decoration: none;
  color: pink;
}
main{
  max-width: 800px;
  margin: auto;
}
h1{
  font-size: 5rem;
  text-align: center;
  font-family: exo;
  margin: 4rem;
}
p{
  font-size: 2rem;
  font-family: marcellus;
  margin: 2rem;
}
h2{
  font-size: 4rem;
  margin: 2rem;
  grid-column: 1/4;
  text-align: center;
  font-family: exo;
}
#video{
  display: block;
  height: 315px;
  width: 560px;
  margin: 0 auto 0 auto;
}

.product{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  border-bottom: 1px solid black;
}
.product:first-of-type{
  border-top: 1px solid black;
  margin-top: 2rem;
}
.product-image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 2rem;
}
form{
  display: flex;
  flex-direction: column;
  align-items: left;
}
#order-instructions, #email, #submit{
  width: 100%-2rem;
  margin: 0 0 2rem 2rem;
  border-radius: 3px;
  font-size: 2rem;
  font-family: marcellus;
}
#order-instructions{
  height: 12rem;
}
#submit{
  height: 3rem;
  width: 30%;
}
.social-icons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: columns;
  font-size: 10rem;
  align-items: center;
  margin: 0 14rem 2rem 14rem;
}
.social-icons a{
  text-decoration: none;
  color: pink;
  text-align: center;
}

@media (max-width: 600px){
  #video{
    width: 350px;
  }
  p{
    font-size: 1.5rem;
    margin: 1rem;
  }
  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 2.5rem;
  }
  .nav-link{
    font-size: 1.5rem;
  }
  .social-icons{
    font-size: 10rem;
    align-items: center;
    margin: 2rem auto;
  }
  #order-instructions, #email, #submit{
    margin: 1rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px){
  #video{
    width: 250px;
    height: 180px;
  }
  p{
    font-size: 1.5rem;
    margin: 1rem;
  }
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 2.5rem;
    grid-column: 1/1
  }
  .nav-link{
    font-size: 1.2rem;
  }
  .product{
    grid-template-columns: 1fr;
  }
  .product-image{
    margin: 1rem auto;
  }
  #order-instructions, #email, #submit{
    width: 90%;
    margin: 1rem;
    border-radius: 3px;
    font-size: 1.5rem;
    font-family: tahoma;
  }
  #order-instructions{
    height: 10rem;
  }
  #submit{
    height: 3rem;
    width: 30%;
  }
  .social-icons{
    font-size: 8rem;
    align-items: center;
    margin: 1rem auto;
  }
}